/* Réinitialisation des éléments */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin: 0; padding: 0; border: 0; }

/* body et html */
body{ margin: 0; padding: 0; text-align:center; background: #fdfdfe url(Gx/bg_body.jpg) repeat-x center top; }
html{ color: #717172; font-size: 11px; font-family: Arial, Verdana, Times; }

/* TEXTES ET HYPERLIENS GLOBAUX
--------------------------------------------------------------------------------------- */

p, a, h1{ color: #20568e; }
a{ text-decoration: underline; }
a:hover{ text-decoration: none; }

/* CONTENEURS ET CLASSES GÉNÉRALES
--------------------------------------------------------------------------------------- */

#conteneur{ margin: 0 auto; text-align: left; width: 1000px; }
#boiteCD{ background: white; padding: 50px; line-height: 16px; }
#boiteCD h1{ margin: 0 0 20px 0; }

.both{clear:both;}

/* HAUT
--------------------------------------------------------------------------------------- */

#haut{ width: 1000px; height: 171px; background: url(Gx/haut.jpg) no-repeat; position: relative; }
#haut #lienLogo{ display: block; text-decoration: none; width: 358px; height: 113px; position: absolute; top: 28px; left: 12px; outline: none; }

/* PAGE ACCUEIL
--------------------------------------------------------------------------------------- */

#boiteSousSite{ width: 1000px; height: 356px;padding-left:120px;}
#boiteSousSite .boite{ height: 356px; float: left; width: 245px; background: url(Gx/bg_boite.gif) repeat-y top center; }

#boiteSousSite .boite a{ height: 356px; display: block; text-decoration: none; width: 245px; color: #20568e; cursor: pointer; }

#boiteSousSite #boiteAssurances{ padding-left: 10px; background-position: 10px top; }
#boiteSousSite #boiteGestion{ padding-right: 10px; background-position: 0px top; }

#boiteSousSite .boite a .headerBoite{ width: 245px; height: 63px; }
#boiteSousSite #boiteAssurances a .headerBoite{ background: url(Gx/titre_boite_assurances_fr.gif) no-repeat; }
#boiteSousSite #boiteMiniEntrepot a .headerBoite{ background: url(Gx/titre_boite_mini_entrepot_fr.gif) no-repeat; }
#boiteSousSite #boiteMarina a .headerBoite{ background: url(Gx/titre_boite_marina_fr.gif) no-repeat; }
#boiteSousSite #boiteGestion a .headerBoite{ background: url(Gx/titre_boite_gestion_fr.gif) no-repeat; }

#boiteSousSite #boiteAssurances a .contenuBoite{ background: url(Gx/logo_assurances.gif) no-repeat 68px 14px; }
#boiteSousSite #boiteMiniEntrepot a .contenuBoite{ background: url(Gx/logo_mini_entrepot.gif) no-repeat 12px 62px; }
#boiteSousSite #boiteMarina a .contenuBoite{ background: url(Gx/logo_marina.gif) no-repeat 24px 30px; }
#boiteSousSite #boiteGestion a .contenuBoite{ background: url(Gx/logo_gestion.gif) no-repeat 9px 56px; }

#boiteSousSite .boite .contenuBoite{ width: 245px; height: 260px; }
#boiteSousSite .boite .contenuBoite p{ font-size: 11px; color: #20568e; text-decoration: none; padding: 134px 10px 0 10px; text-align: center; }

#boiteSousSite .boite #btnBoite{ width: 245px; height: 33px; background: url(Gx/btn_boite.gif) no-repeat top left; line-height: 13px; }
#boiteSousSite .boite #btnBoite.en{ width: 245px; height: 33px; background: url(Gx/btn_boite_en.gif) no-repeat top left; line-height: 13px; }

#boiteSousSite .boite a:hover .contenuBoite p{ text-decoration: underline; }
#boiteSousSite .boite a:hover #btnBoite{ background-position: left bottom; }
.small{padding-top: 50px}

/* PAGE CONTACT
--------------------------------------------------------------------------------------- */



/* PIED DE PAGE
--------------------------------------------------------------------------------------- */

#piedPage{ padding: 45px 0 0 11px; width: 1000px; }
#piedPage a{ color: #8c9aa6; text-decoration: none; font-size: 11px; }
#piedPage a:hover{ color: #8c9aa6; text-decoration: underline; }

/* Partager cette page (bookmarker) */
#socialBookmarker { float: right; position: relative; right: 20px; }
#socialBookmarkerPrefix { float: left; cursor: default;}
.bookmarkIconesVisibles { float: left; margin-left: 2px;}
#bookmarkHoverPopup {
	position: absolute;
	border: solid 1px;
	background-color: white;
	text-align: left;
	padding: 4px;
	width: 315px;
	display: none;
}
#bookmarkHoverPopup .bookmarkHoverPopupItems{
	float: left;
	width: 150px;
	height: 25px;
	margin-right: 4px;
}

#bookmarkHoverPopup .bookmarkHoverPopupItems a{
	line-height: 25px;
	height: 25px;
}

#bookmarkHoverPopup .bookmarkHoverPopupItems a:link, #bookmarkHoverPopup .bookmarkHoverPopupItems a:visited{
	border: none;
	color: black;
	display: block;
	text-decoration: none;
	width: 150px;
	padding-left: 2px;
	border: 1px solid #fff;
}

#bookmarkHoverPopup .bookmarkHoverPopupItems a:active, #bookmarkHoverPopup .bookmarkHoverPopupItems a:hover{
	text-decoration: none;
	color: #333333;
	border: 1px solid #666;
	width: 150px;
	height: 25px;
	display: block;
	background-color: #eee;
	padding-left: 2px;
}

