
/* Réinitialisation des éléments */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin: 0; padding: 0; border: 0; }

/* body et html */
body{ background: #FFF url(gx/bg_body.jpg) repeat-x center top; margin: 0; padding: 0; text-align: center; }
html{ color: #717172; font-size: 14px; font-family: Arial, Verdana, Times; }

/* TEXTES ET HYPERLIENS GLOBAUX
--------------------------------------------------------------------------------------- */

h1{ color: #ed4825; margin-bottom: 10px; font-size: 19px; }
p{ line-height: 22px; color: black; font-size: 14px; margin-bottom: 20px; }
a{ color: #ed4825; text-decoration: underline; font-size: 14px; }
a:hover{ text-decoration: none; }

/* CONTENEURS ET CLASSES GÉNÉRALES
--------------------------------------------------------------------------------------- */

#conteneur #haut{ position: relative; border-bottom: 1px white solid; }
#conteneur #haut #bandeHaut{ height: 97px; width: 313px; background: url(Gx/logos_haut.gif) no-repeat left top; }
#conteneur #haut #imageHaut{ height: 280px; width: 1000px; background: url(Gx/image_haut.jpg) no-repeat left top; }
#conteneur #haut #lienLogo{ position: absolute; left: 6px; top: 0px; width: 307px; height: 115px; display: block; text-decoration: none; outline: none; }
#conteneur #haut #lienLogoRobillard{ position: absolute; background: url(Gx/logoGroupe_robitaille.gif) no-repeat; left: 718px; top: 16px; width: 270px; height: 70px; display: block; text-decoration: none; outline: none; }
#conteneur #haut.en #lienLogoRobillard{ position: absolute; background: url(Gx/logoGroupe_robitaille_en.gif) no-repeat; left: 718px; top: 16px; width: 270px; height: 70px; display: block; text-decoration: none; outline: none; }

#conteneur{ margin: 0 auto; text-align: left; width: 1000px; }

#conteneur #conteneurAccueil{ width: 1000px; }
#conteneur #conteneurAccueil #collGauche{ float: left; width: 582px; padding: 30px; }
#conteneur #conteneurAccueil #collDroite{ float: left; width: 358px; }

#conteneur #conteneurAccueil #texteContact{ margin-left: 4px; }
#conteneur #conteneurAccueil #texteContact h2{ font-size: 14px; font-weight: bold; color: #c1574f; margin: 9px 0 6px 0; }
#conteneur #conteneurAccueil #texteContact p{ color: #c1574f; font-size: 14px; padding-right: 20px; }

#boiteCD{ padding: 35px; }

.both{clear:both;}

/* PAGE ACCUEIL
--------------------------------------------------------------------------------------- */



/* ICONES GÉNÉRALES
--------------------------------------------------------------------------------------- */

.lienRSS{background: url(Gx/icone_RSS.gif) no-repeat left;padding:5px 0 5px 20px;}
/* .lienPDF{background: url(Gx/icone_PDF.gif) no-repeat left;padding:5px 0 5px 20px;} */

/* PIED DE PAGE
--------------------------------------------------------------------------------------- */

#conteneurPiedPage{ width: 100%; background: #f5f5f5; height: 120px; }
#piedPage{ color: #555; font-size: 10px; padding: 36px 0 0 0; margin: 0 auto; width: 1000px; text-align: left; }
#piedPage p{ color: #8c9aa6; font-size: 11px; line-height: 14px; margin-bottom: 10px; }
#piedPage a{ color: #8c9aa6; text-decoration: none; font-size: 11px; }
#piedPage a:hover{ color: #8c9aa6; text-decoration: underline; }
#copyrights{ padding-left: 32px; }

/* Partager cette page (bookmarker) */
#socialBookmarker {float:right;}
#socialBookmarkerPrefix {float:left;cursor:default;}
.bookmarkIconesVisibles {float:left;margin-left:2px;}
#bookmarkHoverPopup {
	position:absolute;
	border:solid 1px;
	background-color:white;
	text-align:left;
	padding:4px;
	width:315px;
	display:none;
	z-index: 5;
}

#bookmarkHoverPopup .bookmarkHoverPopupItems{
	float:left;
	width:150px;
	height:25px;
	margin-right:4px;
}

#bookmarkHoverPopup .bookmarkHoverPopupItems a{
	line-height:25px;
	height:25px;
}

#bookmarkHoverPopup .bookmarkHoverPopupItems a:link, #bookmarkHoverPopup .bookmarkHoverPopupItems a:visited{
	border:none;
	color:black;
	display:block;
	text-decoration: none;
	width:150px;
	padding-left:2px;
	border: 1px solid #fff;
}

#bookmarkHoverPopup .bookmarkHoverPopupItems a:active, #bookmarkHoverPopup .bookmarkHoverPopupItems a:hover{
	text-decoration: none;
	color:#333333;
	border: 1px solid #666;
	width:150px;
	height:25px;
	display:block;
	background-color:#eee;
	padding-left:2px;
}

#socialBookmarker{ background: url(Gx/bg_bookmarker.gif) repeat-x; border: 1px solid #777575; padding: 0px 3px 0 25px; height:20px; cursor:pointer; overflow: hidden; margin: 0px 22px 0 0; }
#socialBookmarkerPrefix{ color: #b5b5b5; text-transform: uppercase; font-size: 10px; margin: 3px 10px 0 0; }
#icone { padding: 0 0 1px 0; float:right; }
.bookmarkIconesVisibles{ margin-top: 2px; }