
/* Réinitialisation des éléments */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin: 0; padding: 0; border: 0; }

body{ background: #FFF url(Gx/bg_body.jpg) repeat-x center top; margin: 0; padding: 0; text-align:center; }
html{ color: #384464; font-size: 13px; font-family: Arial, Verdana, Georgia, Times; }

/* TEXTES ET HYPERLIENS GLOBAUX
--------------------------------------------------------------------------------------- */

h1{ color: #384464; font-size: 18px; margin-bottom: 8px; line-height: 18px; }
p{ color: #384464; font-size: 13px; line-height: 20px; margin-bottom: 20px; }
ul{ margin: 0; padding: 0; }
ul li{ margin: 0; padding: 0; list-style-type: none; line-height: 16px; }

a{ color: #384464; font-size: 13px; text-decoration: underline; }
a:hover{ text-decoration: none; }

h2{ color: #384464; font-size: 16px; margin-bottom: 4px; line-height: 18px; }

/* CONTENEURS ET CLASSES GÉNÉRALES
--------------------------------------------------------------------------------------- */

#conteneur{ margin: 0 auto; text-align: left; width: 955px; }

#haut{ width: 955px; height: 438px; position: relative; background: url(Gx/bg_haut.jpg) no-repeat 0 75px;}
#haut.en{ width: 955px; height: 438px; position: relative; background: url(Gx/bg_haut_en.jpg) no-repeat 0 75px;}
#haut #lienGR{ width: 263px; height: 64px; display: block; background: url(Gx/logo_gr.gif) left top; text-decoration: none; position: absolute; top: 2px; left: 692px; outline: none; }
#haut.en #lienGR{ width: 263px; height: 64px; display: block; background: url(Gx/logo_gr_en.gif) left top; text-decoration: none; position: absolute; top: 2px; left: 692px; outline: none; }
#haut #lienLogo{ width: 272px; height: 107px; display: block; text-decoration: none; position: absolute; top: 91px; left: 25px; outline: none; }
#haut #texteHaut{ position: absolute; left: 472px; top: 102px; }

#milieu{ width: 955px; background: url(Gx/bg_milieu.gif) repeat-y left top; }

#milieu #collGauche{ width: 193px; float: left; padding: 18px 0 10px 15px; }
#milieu #collGauche p{ font-size: 11px; color: #565656; line-height: 13px; margin-bottom: 0px; }
#milieu #collGauche h2{ font-size: 15px; color: #484848; line-height: 16px; margin-bottom: 0; }
#milieu #collGauche p.addresse{ line-height: 16px; margin-bottom: 10px; }
#milieu #collGauche p.tel{ color: #484848; font-size: 15px; font-weight: bold; line-height: 18px; }
#milieu #collGauche p.tel span{ color: #16a8e0; }
#milieu #collGauche a{ color: #484848; text-decoration: underline; }
#milieu #collGauche a:hover{ text-decoration: none; }

#milieu #collDroite{ width: 687px; float: left; padding: 0 30px 30px 30px; }

#milieu #collDroite .partenaires{ margin: 10px 0; }
#milieu #collDroite .partenaires .listeGauche{ float: left; margin: 0 50px 0 0; }
#milieu #collDroite .partenaires .listeDroite{ float: left; margin: 0 0 0 50px; }

#milieu #collDroite .conteneurEquipe .listeGauche{ float: left; width: 333px; margin-right: 20px; }
#milieu #collDroite .conteneurEquipe .listeDroite{ float: left; width: 333px; }
#milieu #collDroite .conteneurEquipe h2{ font-size: 14px; margin-bottom: 15px; }


.both{ clear: both; }

/* MENUS
--------------------------------------------------------------------------------------- */

#haut #menu{ position: absolute; top: 212px; left: 11px; width: 193px; height: 226px; }
#haut #menu ul{ width: 193px; height: 226px; margin 0; padding: 0; }
#haut #menu ul li{ margin: 0 0 4px 0; padding: 0; list-style-type: none; width: 193px; height: 42px; overflow: hidden; }
#haut #menu ul li a{ margin: 0; padding: 16px 0 0 17px; line-height: 11px; text-decoration: none; outline: none; width: 176px; height: 26px; display: block; background: url(Gx/bg_menu.gif) no-repeat left top; color: #2f7fb5; font-size: 15px; font-weight: bold; }
#haut #menu ul li a:hover, #haut #menu ul li a.actif{ background-position: left bottom; color: #64a930; }
#haut #menu ul li.twoLignes a{ padding: 6px 0 0 17px; height: 36px; line-height: 15px; }


#haut #miniMenu{ position: absolute; top: 63px; left: 464px; }
#haut #miniMenu ul{ margin: 0; padding: 0; }
#haut #miniMenu ul li{ margin: 0; padding: 0; list-style-type: none; display: inline; }
#haut #miniMenu ul li a{ font-size: 11px; color: #484848; font-weight: bold; padding: 0 8px; text-decoration: none; outline: none; }
#haut #miniMenu ul li a:hover{ color: #3085c9; }

/* PAGE ACCUEIL
--------------------------------------------------------------------------------------- */

#conteneur.accueil #haut{ background: url(Gx/01/bg_haut.jpg) no-repeat 0 75px;}
#conteneur.accueil #haut.en{ background: url(Gx/01/bg_haut_en.jpg) no-repeat 0 75px;}
#conteneur.accueil #milieu #collDroite{ height: 337px; background: url(Gx/01/bg_milieu_coll_droite.jpg) no-repeat left top; overflow: hidden; }
#conteneur.accueil #milieu #collDroite *{ color: white; }
#conteneur.accueil #milieu #collDroite p{  margin-bottom: 10px; }
#conteneur.accueil #milieu #collDroite h2{ margin-bottom: 0; }
#conteneur.accueil #piedPage{ background: url(Gx/01/bg_footer.jpg) no-repeat; }

/* PAGE CONTACT
--------------------------------------------------------------------------------------- */

.myButton {
	-moz-box-shadow: -5px 6px 14px -7px #3e7327;
	-webkit-box-shadow: -5px 6px 14px -7px #3e7327;
	box-shadow: -5px 6px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff !important;
	font-family:Arial;
	font-size:12px !important;
	font-weight:bold;
	padding:10px 17px;
	text-decoration:none !important;
	text-shadow:0px 1px 0px #5b8a3c;
	margin-left: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}





/* ICONES GÉNÉRALES
--------------------------------------------------------------------------------------- */

.lienRSS{ background: url(Gx/icone_RSS.gif) no-repeat left; padding:5px 0 5px 20px; }
/* .lienPDF{ background: url(Gx/icone_PDF.gif) no-repeat left; padding: 5px 0 5px 20px; } */

/* PIED DE PAGE
--------------------------------------------------------------------------------------- */

#piedPage{ color: #555; font-size: 10px; padding: 40px 20px 0 20px; margin-bottom: 50px; width: 915px; background: url(Gx/bg_footer.jpg) no-repeat; clear: both; }
#piedPage a{ color: #868686; text-decoration: underline; font-size: 11px; }
#piedPage a:hover{ text-decoration: none; }

#piedPage p{ font-size: 11px; color: #868686; }

#piedPage ul.menuFooter{ margin: 0 0 15px 0; padding: 0; }
#piedPage ul.menuFooter li{ margin: 0; padding: 0; list-style-type: none; display: inline; }
#piedPage ul.menuFooter li.sep{ position: relative; top: -1px; padding: 0 9px; }
#piedPage ul.menuFooter li a{ font-size: 11px; color: #484848; text-decoration: none; }
#piedPage ul.menuFooter li a:hover{ text-decoration: underline; }



/* Partager cette page (bookmarker) */
#socialBookmarker { float: right; }
#socialBookmarkerPrefix { float: left; cursor: default; }
.bookmarkIconesVisibles { float: left; margin-left: 2px; }
#bookmarkHoverPopup {
	position:absolute;
	border:solid 1px;
	background-color:white;
	text-align:left;
	padding:4px;
	width:315px;
	display:none;
	z-index: 5;
}

#bookmarkHoverPopup .bookmarkHoverPopupItems{
	float:left;
	width:150px;
	height:25px;
	margin-right:4px;
}

#bookmarkHoverPopup .bookmarkHoverPopupItems a{
	line-height:25px;
	height:25px;
}

#bookmarkHoverPopup .bookmarkHoverPopupItems a:link, #bookmarkHoverPopup .bookmarkHoverPopupItems a:visited{
	border:none;
	color:black;
	display:block;
	text-decoration: none;
	width:150px;
	padding-left:2px;
	border: 1px solid #fff;
}

#bookmarkHoverPopup .bookmarkHoverPopupItems a:active, #bookmarkHoverPopup .bookmarkHoverPopupItems a:hover{
	text-decoration: none;
	color:#333333;
	border: 1px solid #666;
	width:150px;
	height:25px;
	display:block;
	background-color:#eee;
	padding-left:2px;
}

#socialBookmarker{ background: url(Gx/bg_bookmarker.gif) repeat-x; border: 1px solid #777575; padding: 0px 3px 0 25px; height: 20px; cursor: pointer; overflow: hidden; margin: 0px 3px 0 0; float:right; }
#socialBookmarkerPrefix{ color: #b5b5b5; text-transform: uppercase; font-size: 10px; margin: 3px 10px 0 0; }
#icone{ padding: 0 0 1px 0; float:right; }
.bookmarkIconesVisibles{ margin-top: 2px; }

/* FORMULAIRES
--------------------------------------------------------------------------------------- */

fieldset{border:1px solid #000; font-size: 11px; margin-bottom:10px; padding:5px;}
fieldset legend{border: 1px solid #999; color:#000; font-size:14px; font-weight:bold; padding:3px;}
fieldset label{font-size: 12px; color:#000; margin:2px 0 2px 0;}

/* Formulaire contact */
#formulaireQuestion label{ float: left; width: 180px; }
#formulaireQuestion .champTexte{ float: left; width: 300px; }
#formulaireQuestion .listeDeroulante{ float: left; width: 300px; }
#formulaireQuestion .boiteTexte{ float: left; height: 70px; width: 330px; }

.champTexte{ background: #EFF8FF; border: 1px solid #A4CDEF; color: #3B729F; font-size: 12px; margin:2px 0 2px 0; padding-bottom: 3px; }
.listeDeroulante{ background: #EFF8FF; border: 1px solid #A4CDEF; color: #3B729F; font-size: 12px; margin: 2px 0 2px 0; }
.boiteTexte{ background: #EFF8FF; border: 1px solid #A4CDEF; color: #3B729F; font-family: "Trebuchet MS"; font-size: 12px; margin: 2px 0 2px 0; }
.bouton{ background-color: #DFF1FF; color: #5894C5; font-family: "Trebuchet MS"; font-size: 13px; font-weight: bold; border: 2px #E0DFE3 outset; }
.bouton:hover{ background-color: #5894C5; color: #FFF; }

.champCache{ display: none; visibility: hidden; } /* Utilisé pour l'anti-spam */

.erreur{ color: #FF0000; }
