/* Réinitialisation des éléments */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin: 0; padding: 0; border: 0; }

body{ background: #FFF url(gx/bg_body.jpg) repeat-x center top; margin: 0; padding: 0; text-align: center; }
html{ color: black; font-size: 14px; font-family: Arial, Verdana, Times; }

/* TEXTES ET HYPERLIENS GLOBAUX
--------------------------------------------------------------------------------------- */

h1{ color: #5894c5; font-size: 19px; font-weight: normal; margin-bottom: 20px; }
p{ line-height: 22px; color: black; font-size: 14px; margin-bottom: 20px; }
a{ color: #5894C5; text-decoration: underline; }
a:hover{ text-decoration: none; }
#conteneur ul{ margin: 0; padding: 0; list-style-type: none; }
#conteneur ul li{ margin: 0; padding: 0; }

/* CONTENEURS ET CLASSES GÉNÉRALES
--------------------------------------------------------------------------------------- */

#conteneur{ margin: 0 auto; text-align: left; width: 917px; }
#contenu{ padding: 25px 0; position: relative; }

#haut{ height: 429px; width: 917px; }
#haut #bandeLogoMenu{ position: relative; height: 111px; width: 917px; }
#haut #bandeImageHaut{ height: 318px; width: 917px; background: url(Gx/image_haut.jpg) no-repeat left top; }
#haut #logoHaut{ position: absolute; top: 41px; left: 0; width: 224px; height: 62px; background: url(Gx/logo_haut.gif) no-repeat; text-decoration: none; outline: none; }
#haut #logoGroupeRobitaille{ position: absolute; top: 6px; left: 662px; width: 255px; height: 60px; text-decoration: none; background: url(Gx/logo_groupe_robitaille.gif) no-repeat; outline: none; }
#haut.en #logoGroupeRobitaille{ position: absolute; top: 6px; left: 662px; width: 255px; height: 60px; text-decoration: none; background: url(Gx/logo_groupe_robitaille_en.gif) no-repeat; outline: none; }

.both{clear:both;}

#boiteTabGoogleMap{ width: 320px; height: 305px; position: absolute; top: 167px; right: 0px; }
#boiteTabGoogleMap .ui-tabs-hide { display: none; }
#boiteTabGoogleMap ul{ margin: 0; padding: 0; width: 320px; height: 20px; }
#boiteTabGoogleMap ul li{ margin: 0; padding: 0; list-style: none; float: left; }
#boiteTabGoogleMap ul li a{ display: block; outline: none; height: 20px; text-decoration: none; }
#boiteTabGoogleMap ul li a#mmr{ background: url(Gx/tab_google_maps.gif) no-repeat left top; width: 44px; }
#boiteTabGoogleMap ul li a#mtr{ background: url(Gx/tab_google_maps.gif) no-repeat -44px top; width: 44px; margin-left: 2px; }
#boiteTabGoogleMap ul li.ui-state-hover a#mmr, #boiteTabGoogleMap ul li.ui-state-active a#mmr{ background-position: left bottom; }
#boiteTabGoogleMap ul li.ui-state-hover a#mtr, #boiteTabGoogleMap ul li.ui-state-active a#mtr{ background-position: -44px bottom; }
#boiteTabGoogleMap ul li a:hover{  }
#boiteTabGoogleMap .tabs{ width: 318px; height: 283px; border: 1px #5491c2 solid; overflow: hidden; }

/* MENUS
--------------------------------------------------------------------------------------- */

#haut #menu{
	width: 268px;
	height: 31px;
	overflow: hidden;
	background: #5491c2;
	position: absolute;
	top: 79px;
	left: 694px;
}
#haut #menu ul{ margin: 0; padding: 0; text-align: center; width: 268px; margin-top: 7px; }
#haut #menu ul li{ list-style-type: none; display: inline; }
#haut #menu ul li a{ color: white; font-weight: bold; font-size: 11px; text-decoration: none; padding: 0 7px 0 7px; outline: none; }
#haut #menu ul li a:hover{ text-decoration: underline; }

/* PAGE ACCUEIL
--------------------------------------------------------------------------------------- */



/* PAGE CONTACT
--------------------------------------------------------------------------------------- */



/* PIED DE PAGE
--------------------------------------------------------------------------------------- */

#piedPage{ width: 917px; padding-bottom: 80px; }

#piedPage #boiteContact{ width: 917px; height: 155px; position: relative; margin-bottom: 30px; }
#piedPage #boiteContact #btnContact{ background: url(Gx/boite_contact_btn_location.jpg) no-repeat left top; width: 308px; height: 138px; display: block; text-decoration: none; position: absolute; right: 0px; bottom: 0px; outline: none; }
#piedPage #boiteContact #contact{ width: 583px; height: 131px; background: url(Gx/bg_boite_contact.jpg) no-repeat left top; position: absolute; top: 21px; left: 2px; }
#piedPage #boiteContact h2{ font-size: 15px; color: black; font-weight: bold; margin-left: 2px; }
#piedPage #boiteContact .infoContact{ float: left; }
#piedPage #boiteContact .infoContact p.adresse{ font-size: 11px; line-height: 16px; color: #484848; margin: 0 0 16px 0; padding: 0; }
#piedPage #boiteContact .infoContact p.tel{ font-size: 11px; line-height: 15px; color: #484848; font-weight: bold; margin: 0 0 12px 0; padding: 0; }
#piedPage #boiteContact .infoContact p.tel span{ color: #16a8e0; }
#piedPage #boiteContact .infoContact a{ font-size: 11px; line-height: 15px; color: #484848; margin: 0; padding: 0; }

#piedPage #boiteContact #contact_1{ position: absolute; top: 17px; left: 98px; }
#piedPage #boiteContact #contact_2{ position: absolute; top: 17px; left: 381px; }

#piedPage #sepFooter{ width: 917px; height: 1px; overflow: hidden; margin-bottom: 22px; background: url(Gx/sep_footer.gif) no-repeat; }

#piedPage #copyrights{ float: left; margin: 0; text-align: left;}
#piedPage #copyrights p{ color: #b9b9b4; font-size: 11px; margin-bottom: 5px; }
#piedPage #copyrights a{ color: #b9b9b4; font-size: 11px; text-decoration: none; }
#piedPage #copyrights a:hover{ text-decoration: underline; }

/* Partager cette page (bookmarker) */
#socialBookmarker { float:right; }
#socialBookmarkerPrefix {float:left;cursor:default;}
.bookmarkIconesVisibles {float:left;margin-left:2px;}
#bookmarkHoverPopup {
	position:absolute;
	border:solid 1px;
	background-color:white;
	text-align:left;
	padding:4px;
	width:315px;
	display:none;
	z-index: 5;
}

#bookmarkHoverPopup .bookmarkHoverPopupItems{
	float:left;
	width:150px;
	height:25px;
	margin-right:4px;
}

#bookmarkHoverPopup .bookmarkHoverPopupItems a{
	line-height:25px;
	height:25px;
}

#bookmarkHoverPopup .bookmarkHoverPopupItems a:link, #bookmarkHoverPopup .bookmarkHoverPopupItems a:visited{
	border:none;
	color:black;
	display:block;
	text-decoration: none;
	width:150px;
	padding-left:2px;
	border: 1px solid #fff;
}

#bookmarkHoverPopup .bookmarkHoverPopupItems a:active, #bookmarkHoverPopup .bookmarkHoverPopupItems a:hover{
	text-decoration: none;
	color:#333333;
	border: 1px solid #666;
	width:150px;
	height:25px;
	display:block;
	background-color:#eee;
	padding-left:2px;
}

#socialBookmarker{ background: url(Gx/bg_bookmarker.gif) repeat-x; border: 1px solid #777575; padding: 0px 3px 0 25px; height:20px; cursor:pointer; overflow: hidden; margin: 0px 3px 0 0; }
#socialBookmarkerPrefix{ color: #b5b5b5; text-transform: uppercase; font-size: 10px; margin: 3px 10px 0 0; }
#icone { padding: 0 0 1px 0; float:right; }
.bookmarkIconesVisibles{ margin-top: 2px; }

/* FORMULAIRES
--------------------------------------------------------------------------------------- */

fieldset{border:1px solid #000; font-size: 11px; margin-bottom:10px; padding:5px;}
fieldset legend{border: 1px solid #999; color:#000; font-size:14px; font-weight:bold; padding:3px;}
fieldset label{font-size: 12px; color:#000; margin:2px 0 2px 0;}

/* Formulaire contact */
#formulaireQuestion label{ float: left; width: 180px; }
#formulaireQuestion .champTexte{ float: left; width: 300px; }
#formulaireQuestion .listeDeroulante{ float: left; width: 300px; }
#formulaireQuestion .boiteTexte{ float: left; height: 70px; width: 330px; }

.champTexte{ background: #EFF8FF; border: 1px solid #A4CDEF; color: #3B729F; font-size: 12px; margin:2px 0 2px 0; padding-bottom: 3px; }
.listeDeroulante{ background: #EFF8FF; border: 1px solid #A4CDEF; color: #3B729F; font-size: 12px; margin: 2px 0 2px 0; }
.boiteTexte{ background: #EFF8FF; border: 1px solid #A4CDEF; color: #3B729F; font-family: "Trebuchet MS"; font-size: 12px; margin: 2px 0 2px 0; }
.bouton{ background-color: #DFF1FF; color: #5894C5; font-family: "Trebuchet MS"; font-size: 13px; font-weight: bold; border: 2px #E0DFE3 outset; }
.bouton:hover{ background-color: #5894C5; color: #FFF; }

.champCache{ display: none; visibility: hidden; } /* Utilisé pour l'anti-spam */

.erreur{ color: #FF0000; }
